@font-face {
  font-family: 'DooM';
  font-style: normal;
  font-weight: normal;
  src: local('DooM'), url('DooM.woff') format('woff');
  }
body{
  background-image: url("http://i.imgur.com/wLDhz.jpg");
  /* background-image: url("../spritesRetro/stone2.png"); */
  background-repeat: repeat;
  background-size: inherit;
}
.porte {
  position: absolute;
  z-index: 2;
  height: 750px;
  width: 1092px;
  left: 10px;
}

.gameOver {
  position: absolute;
  height: 750px;
  width: 1094px;
  z-index: 3;
  opacity: 1;
}
.endGame {
  position: absolute;
  height: 753px;
  width: 1094px;
  z-index: 3;
}

a {
  position: absolute;
  filter: drop-shadow(2px 4px 2px black);
  text-align: center;
  padding: 10px;
  background: linear-gradient(-35deg, #540000, #ff0c0c);
  border: outset 3px rgb(161, 0, 0);
  border-radius: 30px;
  /* height: 40px; */
  text-shadow: 2px 2px 2px black;
  text-decoration: none;
  color: #cdcdcd;
  font-weight: bold;
}

.cv{
  color: #cacaca;
  top: 30px;
  left: 1150px;
  font-family: 'DooM';
  font-size: 2rem;
}
.cv:hover{
  text-shadow: 1px 1px 1px white;
  color: black;
}
.cv:active {
  filter: drop-shadow(0 0 0 black);
  background-color: rgb(255, 0, 0);
  border: outset 3px rgb(161, 0, 0);
}

.montages{
  color: #cacaca;
  font-family: 'DooM';
  font-size: 1rem;
  letter-spacing: 1px;
  width: 170px;
  top: 30px;
  left: 1280px;
}
.montages:hover{
  text-shadow: 1px 1px 1px white;
  color: black;
}
.montages:active{
  filter: drop-shadow(0 0 0 black);
  background-color: rgb(255, 0, 0);
  border: outset 3px rgb(161, 0, 0);
}

.score{
  font-family: 'DooM';
  position: absolute;
  padding: 5px;
  left: 1150px;
  top: 130px;
  text-align: center;
  /* overflow: hidden; */
  width: 295px;
  text-shadow: 2px 3px 2px black;
  color: #920000;
  background: linear-gradient(180deg, #cdcdcd59, #200202c2);
  /* background-color: #0000004d; */
  box-shadow: inset 3px 3px 10px black;
  border: inset 4px rgb(173, 0, 0);
}
.gameRule{
  font-family: 'DooM';
  font-size: 1.5rem;
  position: absolute;
  /* padding: 5px; */
  letter-spacing: 1.4px;
  left: 1103px;
  top: 530px;
  text-align: left;
  /* width: 295px; */
  height: 140px;
  text-shadow: 3px 2px 1px #000000;
  color: #f90101;
}
.start{
  font-family: 'DooM';
  font-size: 1.3rem;
  position: absolute;
  /* padding: 5px; */
  letter-spacing: 1.4px;
  left: 1113px;
  top: 371px;
  text-align: left;
  /* width: 295px; */
  height: 140px;
  text-shadow: 3px 2px 1px #000000;
  color: #f90101;
}

.controles{
  font-family: 'DooM';
  font-size: 1.7rem;
  position: absolute;
  /* padding: 5px; */
  letter-spacing: 2px;
  left: 257px;
  top: 505px;
  text-align: left;
  /* width: 295px; */
  height: 140px;
  text-shadow: 3px 2px 1px #000000;
  color: #d80000;
}

p{
  margin-left: 185px;
}

span{
  font-size: 3rem;
}

span:first-of-type{
  margin-right: 120px;
}

audio {
  position: absolute;
  z-index: 2;
  text-align: center;
  width: 90px;
  height: 32px;
  top: 695px;
  left: 10px;
  border: solid lightgrey;
}
.terrain {
  z-index: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJzABWJwhJFUU8Q1Myhf17hI2aVThyKk_uYbPTOLt-GBQui8tE");
  /* background-image:url('https://people.rit.edu/mat3571/330/exercises/DoomANewDimension/media//images/wall01.jpg'); */
  background-repeat: repeat;
  background-size: 130px;

  overflow: hidden;
  position: absolute;
  left: 10px;
  /* display: none; */
  height: 532px;
  width: 880px;
  padding: 0 100px;

  border: 6px inset rgb(56, 42, 29);
  box-shadow: inset black 0 0 25px;
}
.marineBoite {
  /* LE HUD  */
  background-image: url("../spritesRetro/hudVide.png");
  /* background-image: url('https://3.bp.blogspot.com/-9F36skrynsE/U1nEIMAOyEI/AAAAAAAAEws/hwSlYWW-C7w/s1600/stbar2.png'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transform: scale(0.9);
  position: absolute;
  top: 655px;
  left: 54px;

  width: 1004px;
  height: 113px;
  /* border: 1px rgb(46, 46, 46) dashed; */
}
/* ------------------------------------------------------------------------------ */
.armeTerrain {
  background-image: url("../spritesRetro/mur1.png");
  /* background-image: url(https://3.bp.blogspot.com/-9F36skrynsE/U1nEIMAOyEI/AAAAAAAAEws/hwSlYWW-C7w/s1600/stbar2.png); */
  background-repeat: round;
  background-position: center;
  background-size: auto;

  position: absolute;
  top: 552px;
  left: 10px;
}

.marineMasque:hover {
  filter: drop-shadow(0 0 9px grey);
}

.heroBoite,
.lostSoulBoite,
.heresiarchBoite,
.impBoite,
.ettinBoite,
.gargoyleBoite {
  display: inline-grid;
  /* border: 1px rgb(255, 255, 255) dashed; */
}

/* ########################################################################### */
/* ##########################     MASQUES SPRITES     ######################## */
/* ########################################################################### */
.armeMasque {
  position: relative;
  overflow: hidden;
  width: 105px;
  height: 80px;
  margin: auto;
}
.impMasque {
  position: relative;
  overflow: hidden;
  width: 58px;
  height: 85px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
}
.heroMasque {
  position: relative;
  overflow: hidden;
  width: 49px;
  height: 78px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
}
.heresiarchMasque {
  position: relative;
  overflow: hidden;
  width: 75px;
  height: 108px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  /* top: -5px; */
  /* transform: scale(0.9); */
}
.ettinMasque {
  position: relative;
  overflow: hidden;
  width: 141px;
  height: 115px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  /* top: -5px; */
  /* transform: scale(0.8); */
}
.gargoyleMasque {
  position: relative;
  overflow: hidden;
  width: 65px;
  height: 67px;
  margin: auto;
  transform: translateY(-50%);
  top: 20%;
  /* top: -5px; */
  transform: scale(1.3);
}

.torche2Masque {
  position: relative;
  overflow: hidden;
  left: 1040px;
  top: 374px;
  width: 390px;
  transform: scaleX(-1);
}

.torcheMasque {
  position: relative;
  overflow: hidden;
  left: 16px;
  top: 461px;
  width: 390px;
}

/* ######################################################################### */
/* ##########################     COMPETENCES     ########################## */
/* ######################################################################### */
.competences {
  background-color: rgb(113, 113, 113);
  height: 400px;
  width: 100px;
  margin-top: -175px;
  margin-left: 1100px;
  border-radius: 5px;
  text-align: center;

}
.competences img {
  /* filter: drop-shadow(0 0 1px black); */
}
.angular:hover,
.jquery:hover,
.meteor:hover,
.mongodb:hover,
.node:hover {
  filter: drop-shadow(0 0 0.5px rgb(255, 255, 255));
  /* filter: drop-shadow(0 0 1px rgb(255, 255, 255)); */
  /* transition: 0.25s all; */
}

.ajax {
  filter: drop-shadow(4px 4px 3px black);
  position: absolute;
  top: 685px;
  left: 830px;
  height: 65px;
}
.ajax:hover {
  filter: drop-shadow(0px 2px 0.1px black);
  /* transition: 0.25s all; */
}
.angular {
  filter: drop-shadow(3px 4px 3px black);
  position: absolute;
  top: 695px;
  left: 935px;
  height: 45px;
}
.htmlCss {
  filter: drop-shadow(3px 6px 3px rgb(56, 56, 56));
  position: absolute;
  top: 681px;
  left: 630px;
  height: 70px;
}
.htmlCss:hover {
  filter: drop-shadow(0 0 0.5px rgb(255, 255, 255));
}
.jquery {
  filter: drop-shadow(3px 6px 7px black);
  position: absolute;
  top: 695px;
  left: 260px;
  height: 45px;
}
.meteor {
  filter: drop-shadow(3px 6px 3px rgb(56, 56, 56));
  position: absolute;
  top: 698px;
  left: 139px;
  height: 36px;
}
.mongodb {
  filter: drop-shadow(3px 6px 3px rgb(56, 56, 56));
  position: absolute;
  top: 691px;
  left: 327px;
  height: 48px;
}
.node {
  filter: drop-shadow(3px 6px 3px rgb(56, 56, 56));
  position: absolute;
  top: 689px;
  left: 428px;
  height: 55px;
}

/* h1:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 1s all;
} */
