body{
    background: linear-gradient(180deg, #dadada, #888888);
    background-repeat: no-repeat;
    text-align: center;
}

.retour{
    background-color: #ffeed8;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    text-shadow: 1px 1px 2px #ffffff;
    font-family: 'Doom';
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}
.retour:hover{
    background-color: #ffb454;
    border-radius: 8px;
    transition: background-color, 0.25s;
    
}

.retour:active{
    text-shadow: 1px 1px 2px #000000;
    color: #ffffff;
}

h1{
    color: #ff8f00;
    margin: auto;
    text-shadow: 3px 3px 1px #383838;
    font-family: 'Doom';
    text-align: center;
}

#page{
    border-radius: 10px;
    width: 90%;
    background-color: #ffffff;
    margin: 30px auto;
    border: inset orange 6px;
    box-shadow: 6px 6px 22px #000000;
}

img{
    display: inline-block;
    margin: auto;
    padding: 10px 26px;
    height: 1770px;
    width: auto;
}